<div class="botao">
  <button   mat-fab matTooltip="Warn" color="warn" aria-label="Example fab with a heart icon" (click)="abrirMind()">
  <i class="pi pi-plus" style="font-size: 2.5rem"></i>
</button>
</div>
<div class="cards-container" >
      @for (mind of minds$  | async; track mind )  {
        <mat-card class="example-card box text-center" cdkDrag (cdkDragDropped)="onCardDropped($event)">
          <div class="menu-card">
            @if (mind.situacao === "Concluida") {
              <button class="card-actions" mat-button> <i style="color: #ebc003" class="pi pi-star-fill"></i> </button>
              <button class="card-actions"  (click)="voltarMindFlow(mind.id!)" mat-button> <i class="pi pi-refresh" style="color: rgb(42, 0, 192)"></i></button>
            } @else if (mind.situacao === "A fazer") {
              <button class="card-actions" mat-button> <i style="color: #ebc003" class="pi pi-star"></i> </button>
              <button class="card-actions"  (click)="concluirMindFlow(mind.id!)" mat-button> <i class="pi pi-check" style="color: green"></i></button>
            }
            <button class="card-actions"  mat-button><i class="pi pi-pencil" style="color: #ff0000"></i></button>
            <button class="card-actions"  (click)="extenderMind(mind)" mat-button><i class="pi pi-stop" style="color: #313131"></i></button>
            <button class="card-actions" (click)="deletar(mind.id!)" mat-button><i class="pi pi-times" style="color: #313131"></i></button>
        </div>
        @if (mind.situacao === "Concluida") {
          <mat-card-header style="margin-top: 50px;">
            <mat-card-title><i class="pi pi-cog" style="font-size: 2rem"></i></mat-card-title>
            <mat-card-subtitle>{{ mind.atividadeMind }}</mat-card-subtitle>
            <mat-card-subtitle>{{ mind.situacao }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <b>{{ mind.descricaoMind }}</b>
            </p>
          </mat-card-content>
        } @else if (mind.situacao === "A fazer") {
          <mat-card-header style="margin-top: 50px;">
            <mat-card-title><i class="pi pi-spin pi-cog" style="font-size: 2rem"></i></mat-card-title>
            <mat-card-subtitle>{{ mind.atividadeMind }}</mat-card-subtitle>
            <mat-card-subtitle>{{ mind.situacao }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <b>{{ mind.descricaoMind }}</b>
            </p>
          </mat-card-content>
        }

        </mat-card>
  }
</div>
